.Header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 146px;
    padding-right: 139px;
}
.Header a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    font-family: 'Lato';
}
.Header a:hover{
    color: orange;
}